body {
    font-family: Helvetica;
    line-height: 1.5em;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.message {
    background-color: #ae0000;
    color: white;
}

.amount {
    display: inline-block;
    width: 75px;
    height: 50px;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}
