body {
    margin: 0px auto 0px auto;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5em;
}

@media (min-width: 800px) {
    body {
        width: 750px;
    }
}


hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    margin: 10px;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.message {
    background-color: #ae0000;
    color: white;
    margin: 10px 0;
}

.amount {
    display: inline-block;
    width: 110px;
    height: 50px;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

h1.title {
    color: #ae0000;
    padding: 5px;
    padding-left: 110px;
    min-height: 100px;
    background-image: url("/static/img/logo.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

h2.subtitle {
    margin-top: -95px;
    padding-left: 150px;
    border: 0;
    color: black;
    font-weight: normal;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin-top: -10px;
    margin-left: 110px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-top: 5px solid #ae0000;
}

ul.menu li {
    font-size: 1.3em;
}

ul.menu li a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul.menu li a:hover, ul.menu li.sel a {
    background-color: #ae0000;
    color: white;
}

.organizer {
    padding: 10px;
    display: block;
    background-color: #ae0000;
    color: white;
    margin-left: auto;
}


h2 {
    color: #ae0000;
    border-bottom: 2px solid #ae0000;
}

h3.curator img {
    float: left;
    margin-right: 10px;
}

h3.curator span {
    font-weight: normal;
}

#add-box {
    background-color: #f9f9f9;
    padding: 5px;
}

#add-button {
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

#add-button span {
    font-size: 2em;
    background-color: #ae0000;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
#add-button span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    padding: 10px;
    margin: 10px;
    border-top: 1px solid #ccc;
    text-align: center;
}
